.sidebar{
  position: absolute;
  width:33%;
  min-width:444px;
  height:100%;
  min-height: 768px;
  left:0px;
  top:0px;
  bottom:0px;
  background:rgba(74,11,42,0.95);
  overflow:hidden;
}

.sbhead{
position: absolute;
width:100%;
min-width:444px;
height: 68px;
left: 0px;
top: 0px;
background: RGBA(11,42,74,0.9);
}


/* h1: Global Plastic Waste Trade */
h1{
position: absolute;
width: 444px;
height: 40px;
left: 0px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
/* or 57% */
display: inline-block;
align-items: center;
text-align: center;
color: #E5E5E5;
}

/* class: sbbody */
.sbbody{
position: absolute;
width: 100%;
min-width: 444px;
height: 699px;
left: 0px;
top: 68px;
font-family: 'Roboto', sans-serif;
}

img {
  opacity:0.15;
  padding:0;
  border-radius:0;
}
  /* Gallery */
#gallery{
  position: absolute;
  visibility: hidden;
  width: 444px;
  height: 552px;
  left: 0px;
  top: 133px;
}

div.hidden
{
   display: none
}
  /* id =search */
.search{
  position: absolute;
  width: 444px;
  height: 130px;
  left: 0px;
  top: 0px;
  background: #0B2A4A;
  font-family: 'Roboto', sans-serif;
}
.search2{
  position: absolute;
  width: 444px;
  height: 130px;
  left: 0px;
  top: 0px;
  background: #0B2A4A;
  font-family: 'Roboto', sans-serif;
}
    /* id= go */
  #go {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 346px;
    top: 24px;
    background: #0B2A4A;
    border-color: #0B2A4A;
    cursor: pointer;
  }

  /* id= go2 */
#go2 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 346px;
  top: 24px;
  background: #0B2A4A;
  border-color: #0B2A4A;
  cursor: pointer;
}
    /* id=switch */
    .switch{
      position: absolute;
      width: 270px;
      height: 30px;
      left: 42px;
      top: 68px;
      text-decoration: underline;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: Regular;
      color: #E5E5E5;
      background: #0B2A4A;
      border-color: #0B2A4A;
      cursor: pointer;
  }
  .switch2{
    position: absolute;
    width: 270px;
    height: 30px;
    left: 42px;
    top: 68px;
    text-decoration: underline;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: Regular;
    color: #E5E5E5;
    background: #0B2A4A;
    border-color: #0B2A4A;
    cursor: pointer;
}

    /* class = textbox */
    .textbox{
      position: absolute;
      width: 270px;
      height: 28px;
      left: 55px;
      top: 30px;
  }

  .textbox2{
    position: absolute;
    width: 270px;
    height: 28px;
    left: 55px;
    top: 30px;
  }

  .select2-selection__rendered {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

.select2-results__options{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
::placeholder{
  color: 	#A9A9A9;
  font-size: 18px;
}
  #input{
  position: absolute;
  width: 270px;
  height: 28px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: left;
  display: inline-block;
  }



  /* class =highlight */
  .highlight{
  position: absolute;
  width: 406px;
  height: 215px;
  left: 20px;
  top: 130px;
  font-family: 'Roboto', sans-serif;
  color: #E5E5E5;
  align: center;
  text-align:left;
  background-color: rgba(4, 15, 27, 0.45);
}

.highlight2{
position: absolute;
width: 406px;
height: 215px;
left: 20px;
top: 130px;
font-family: 'Roboto', sans-serif;
color: #E5E5E5;
align: center;
text-align:left;
background-color: rgba(4, 15, 27, 0.45);
}
    /* class = section-4 */
    .section-4{
    position: absolute;
    width: 186px;
    height: 90px;
    left: 214px;
    top: 91px;
    margin-top:12px;
    margin-bottom:20px;
  }

   /* class = section-3 */
   .section-3{
    position: absolute;
    width: 186px;
    height: 84px;
    left: 28px;
    top: 90px;
    margin-top:12px;
    margin-bottom:20px;
  }

   /* class = section-2 */
   .section-2{
   position: absolute;
   width: 186px;
   height: 90px;
   left: 214px;
   top: 0px;
   margin-top:12px;
   margin-bottom:20px;
 }

  /* class = section-1 */
  .section-1{
  position: absolute;
  width: 186px;
  height: 90px;
  left: 27px;
  top: 0px;
  margin-top:12px;
  margin-bottom:20px;
}
    /* class = hshead */
    .hshead{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 1px;
    top: 2px;
    font-size:13px;
    font-weight:100;
  }
    /* class = number */
    .number{
    position: absolute;
    width: 100px;
    height: 44px;
    left: 0px;
    top: 30px;
    font-size:35px;
    font-weight:500;
  }
    /* class = unit */
    .unit{
    position: absolute;
    width: 80px;
    height: 44px;
    left: 130px;
    top: 34px;
    font-size:12px;
    font-weight:100;
  }
    /* class = name */
    .name{
    position: absolute;
    width: 180px;
    height: 44px;
    left: 0px;
    top: 30px;
    font-size:22px;
    font-weight:500;
  }


  /* class = hshead */
  .hshead2{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 1px;
  top: 2px;
  font-size:13px;
  font-weight:100;
}
  /* class = number */
  .number2{
  position: absolute;
  width: 100px;
  height: 44px;
  left: 0px;
  top: 30px;
  font-size:35px;
  font-weight:500;
}
  /* class = unit */
  .unit2{
  position: absolute;
  width: 80px;
  height: 44px;
  left: 110px;
  top: 34px;
  font-size:12px;
  font-weight:100;
}

/* class = chart */
.chart{
position: absolute;
width: 400px;
height: 200px;
left: 20px;
top: 350px;
font-family: 'Roboto', sans-serif;
}

/* class = datalist */
.datalist{
position: absolute;
width: 400px;
height: 190px;
left: 22px;
top: 533px;
font-family: 'Roboto', sans-serif;
color: #E5E5E5;
font-size: 10px;
}

.place-table{
  position: absolute;
  max-height: 100px;
  top: 40px;
  overflow: scroll;
}


p{
  position: absolute;
  max-height: 150px;
  top: 40px;
  overflow: scroll;
}


thead{
  font-size: 11px;
  font-weight: 500;
  color: #000000;
}

th, td{
  display: table-cell;
  padding: 2px;
}

th{
  cursor: pointer;
}

th:hover {
  background: #E5E5E5;
}


.style0{
  text-align: center;
}

.active{
  background-color: #E5E5E5;
}

#countryfilter-I{
  position: absolute;
  width: 100px;
  height: 23px;
  right: 98px;
  top: 13px;
  border-color: #E5E5E5;
  border-radius: 5px;
  border-width: 2px;
  background-color: #FFDBC9;
  cursor: pointer;
}
#countryfilter-I:hover {
  background: #E5E5E5;
}
#countryfilter-E:hover {
  background: #E5E5E5;
}
#countryfilter-E{
  position: absolute;
  width: 100px;
  height: 23px;
  left: 32px;
  top: 13px;
  border-color: #E5E5E5;
  border-radius: 5px;
  border-width: 2px;
  background-color: #A7C6FA;
  cursor: pointer;
}

#claim{
  position: absolute;
    bottom: 10px;
    left: 20px;
    width: 300px;
    height: 20px;
    color: #e5e5e5;
    font-family:"Roboto", sans sans-serif;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
}
#map-E{
position: absolute;
left: 140px;
top: 13px;
border-radius: 5px;
border-color: #E5E5E5;
border-width: 2px;
background-color: #A7C6FA;
cursor: pointer;
}

#map-I{
position: absolute;
right: 56px;
top: 13px;
border-radius: 5px;
border-color: #E5E5E5;
border-width: 2px;
background-color: #FFDBC9;
cursor: pointer;
}

#map-I:hover {
  background: #E5E5E5;
}
#map-E:hover {
  background: #E5E5E5;
}

/* id=worldmap */
#map{
position: absolute;
width:67%;
min-width: 922px;
height:100%;
min-height: 768px;
left:444px;
top: 0px;
right:0px;
background: #C4C4C4;
font-family: 'Roboto', sans-serif;
}

#worldmap{
  position: absolute;
  width:100%;
  min-width: 922px;
  height:100%;
  min-height: 768px;
  top: 0px;
  right:0px;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.info-container{
  position: absolute;
  width: 100%;
  height: 68px;
  right: 8%;
  color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  display:flex;
  justify-content: flex-end;
  cursor: pointer;
}

/* class=maphead */
.maphead{
position: absolute;
width: 100%;
min-width: 922px;
height: 68px;
left: 0px;
top: 0px;
background: rgba(11, 42, 74, 0.8);
}

.divbutton {
    height: 100px;
    background: rgba(11, 42, 74, 0.8);
    text-align: center;
    align:middle;
    color: #E5E5E5;
}


/* id=development */
#development{
position: absolute;
padding: 10px;
width: 151px;
height: 40px;
left: 69px;
top: 75%;
}

/* id=value */
#value{
position: absolute;
padding: 10px;
width: 151px;
height: 40px;
left: 69px;
top: 85%;
}


/*mapbox toggle*/
  #menu {
background: #fff;
position: absolute;
z-index: 1;
top: 10px;
right: 10px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}

#menu a:last-child {
border: none;
}

#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}

#menu a.active {
background-color: #3887be;
color: #ffffff;
}

#menu a.active:hover {
background: #3074a4;
}



/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
